# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/migrations
/coverage
/.nyc_output
/public/static
/public/favicon.ico
/public/index.html
/public/files/*
/data
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
*.sublime-workspace
.env
